.nav {
  ul {
    display: flex;
  }
  li {
    all: unset;
    margin-right: 20px;
  }
  a {
    color: white;
    font-family: "noto";
    font-size: 20px;
    font-weight: 700;
    text-shadow: -2px 0 black, 2px 0 black, 0 2px black, 0 -2px black;
  }
  a:hover {
    color: black;
    text-shadow: -2px 0 white, 2px 0 white, 0 2px white, 0 -2px white;
  }
  button {
    all: unset;
    font-size: 15px;
  }
  button:hover {
    font-weight: 900;
  }
  .mymenu {
    margin-right: 20px;
    color: white;
    font-family: "noto";
    font-size: 20px;
    font-weight: 700;
    text-shadow: -2px 0 black, 2px 0 black, 0 2px black, 0 -2px black;
  }
  .mymenu:hover {
    color: black;
    text-shadow: -2px 0 white, 2px 0 white, 0 2px white, 0 -2px white;
  }
}
