.mypage-content {

    display: flex;
    flex-direction: column;
    align-items: center;

    .danger-message {

        font-family: "notoBold";
        font-style: normal;
        font-weight: 300;
        font-size: 18px;

        margin: 15px;
        padding: 15px;
    }

    .text-field {
        
        margin-top: 40px;
        margin-left: 10px;
        margin-right: 10px;
        display: flex;
        flex-direction: column;

        @media ( min-width: 1024px ) {
            flex-direction: row;
        }

        .field-name {
            font-family: "noto";
            font-style: normal;
            font-weight: 300;
            font-size: 18px;

            width: 200px;
        }

        input {
            margin-top: 5px;
            @media ( min-width: 1024px ) {
                margin-top: 0;
            }

            background: #FFFFFF;
            border: 2px solid #000000;
            padding: 5px;

            width: 350px;
        }   
    }

    .btn-container {
        align-self: flex-end;

        margin: {
            top: 50px;
            bottom: 20px;
            right: 20px;
        }

        .btn-wrapper {
            
            .btn-bottom {
                width: 106px;
                height: 36px;
                
                background: #FFFFFF;
                border: 2px solid #000000;
                box-sizing: border-box;
                border-radius: 4px;
            }

            button {
                position: relative;
                top: 31px;
                width: 106px;
                height: 31px;

                font-family: 'noto';
                font-style: normal;
                font-weight: bold;
                font-size: 18px;
                color: #FFFFFF;

                background: #000000;
                border: 2px solid #000000;
                box-sizing: border-box;
                border-radius: 4px;

                transition: 0.3s;
            
                &:hover {
                    background: #A7A7A7;
                }
            }  
        }
    }
}