.mypage-posts {
    
    margin-top: 30px;
    padding: 5px;

    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    min-width: 500px;

    .empty {
        margin-top: 200px;
        margin-bottom: 200px;
        text-align: center;

        font-family: "notoBold";
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
    }
}