
@mixin comment-font {
    font-family: "noto";
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 20px;
}

textarea {
    background: #FFFFFF;
    border: 2px solid #000000;
    resize: none;
    padding: 5px;

    @include comment-font;

    width: 100%;
    height: 80px;
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;    
    box-sizing: border-box; 
}

.btn {
    background: #FFFFFF;
    border: 2px solid #000000;
    border-radius: 5px;
    box-sizing: border-box;

    width: 60px;
    height: 30px;

    margin-top: 5px;
    margin-left: 10px;

    @include comment-font;

    transition: 0.3s;

    &:hover {
        background: #A7A7A7;
    }
}

.btn-submit {
    font-family: 'notoBold';
    font-style: normal;
    font-size: 18px;

    width: 120px;
    height: 32px;

    margin-top: 10px;
    @media ( min-width: 1024px ) {
        margin-top: 20px;
    }

    background: #FFFFFF;
    border: 2px solid #000000;
    border-radius: 4px;

    transition: 0.3s;

    &:hover {
        background: #A7A7A7;
    }
}

.btn-submit-bottom {
    position: relative;
    bottom: 32px;
    width: 116px;
    height: 33px;
    z-index: -1;

    border: 2px solid #000000;
    border-radius: 4px;
}

.comments {

    display: flex;
    flex-direction: column;

    width: 50vw;
    min-width: 400px;
    max-width: 1000px;

    .no-comment {
        display: flex;
        flex-direction: column;
        overflow: visible;

        @media ( min-width: 1024px ) {
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between;
        }
        
        background: #A7A7A7;
        border: 2px solid #000000;

        margin-top: 15px;
        padding: 5px;

        @include comment-font;
    }

    .write-container {
        
        display: flex;
        flex-direction: column;

        @media ( min-width: 1024px ) {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between;
        }
        
        margin-top: 20px;
        margin-bottom: 20px;

        .textarea-container {
            width: 50vw;
            min-width: 400px;
            max-width: 1000px;
        }

        .btn-container {
            align-self: flex-end;

            @media ( min-width: 1024px ) {
                margin-top: 0;
                margin-left: 10px;
            }
        }
    }

    .comments-container {

        height: auto;

        .comment {
            display: flex;
            flex-direction: column;
            overflow: visible;

            @media ( min-width: 1024px ) {
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: space-between;
            }
            
            background: #A7A7A7;
            border: 2px solid #000000;

            margin-top: 15px;
            padding: 5px;

            .content {
                @include comment-font;

                .bold {
                    font-family: "notoBold";
                }
            }

            .time {
                @include comment-font;
                
                padding-top: 5px;
                padding-left: 5px;
                padding-right: 5px;

                @media ( min-width: 1024px ) {
                    padding-top: 0;
                    min-width: 90px;
                    align-self: center;
                    justify-self: flex-end;
                }
            }

            textarea {
                height: 100px;
                padding: 5px;
            }
        }

        .input {
            margin-top: 15px;
            
            min-height: 60px;
            min-width: 400px;
            max-width: 1000px;
        }

        .btn-container {
            display: flex;
            flex-direction: row-reverse;
        }
    }
};